.userCard {
    display: grid;
    grid-template-columns: 100px 4fr 1fr;
    width: 1000px;
    margin: 0 auto;
}

.userCardButton button {
    margin-top: 25px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
}

.action-button:hover {
    background-color: black;
    color: white;
}

.expandedInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
